@model JSarad_C868_Capstone.ViewModels.ReportsViewModel


<div class="container p3" style="height:83vh">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Event Planner Report</h2>
        </div>
    </div>
    <br /><br />
    <form method="post">
        @* method="get" asp-action="Index"*@
    <div class="row mb-3">
            <div class="col-4 form-group" style="margin-top:7px">
                <label class="d-inline-block"> Select Events created by : </label> 
                <select asp-for="SelectedUser" asp-items="Model.UserSelectList"  
                        class="form-select form-select-sm d-inline" style="width:auto ">
                    @* padding-left: 20px; padding-right: 20px;*@
            </select>
                
        </div>
            <div class="col-3 form-group" style="margin-top:7px">
            <div>
                <label>Starting on : </label>
                <input asp-for="StartDate" id="datepicker" type="date" /> 
                <span class="add-on">
                    <i data-date-icon="icon-calendar">
                    </i>
                </span>
            </div>
        </div>
            <div class="col form-group" style="margin-top:7px">
            <div>
                <label>Ending on : </label>
                <input asp-for="EndDate" id="datepicker2" type="date" /> 

                <span class="add-on">
                    <i data-date-icon="icon-calendar">
                    </i>
                </span>
            </div>
        </div>
        <div class="col form-group text-end">
            <button type="submit" class="btn btn-primary" style="width:7vw" asp-controller="Reports" asp-action="ApplyFilters"> Apply Filters </button> @*value="Search"*@
        </div>
    </div>
    </form>
    <div class="outer-wrapper">
        <div class="tc">
            <div class="table-wrapper">
                <table class="table table-bordered border-dark table-primary table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Planner Id</th>
                            <th>Create Date</th>
                            <th>Event Name</th>
                            <th>Event Type</th>
                            <th>Event Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th># of Guests</th>
                            @* <th> Includes </th>*@
                        </tr>
                    </thead>
                               

                               
                    <!--table body and population info for Event (Controllers/Event/Index)-->
                    <tbody>

                        @*track index of IEnumerable *@
                        @{
                            int index = -1;
                            @foreach (var item in Model.EventList)
                            {
                                index++;
                                <tr  class="table-light">
                                    <td>@item.CreatedBy</td>
                                    <td>@item.CreatedOn</td>
                                    <td>@item.EventName </td>
                                    <td>@item.Type</td>
                                    <td>@item.EventDate.ToShortDateString()</td>
                                    <td>@item.StartTime.ToShortTimeString()</td>
                                    <td>@item.EndTime.ToShortTimeString()</td>
                                    <td>@item.Guests</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

    


           
