@*@model JSarad_C868_Capstone.ViewModels.EventScheduleViewModel


<div class="container" style="height:100vh">


    <div class="row">

        <div class="row pb-2">
            <h2 class="text-primary">Event Details & Scheduling</h2>
        </div>

    </div>
    <br /><br />

    <div id="PlaceHolderHere"></div>
   
    <div class="row">
        <div class="col md-4">
            <div class="outer-wrapper">
                <div class="container p-2 style=" height:55vh>
                    <div class="mb-3">
                        <h4> Event Details </h4>
                        <hr />

                        <input asp-for="Event.Id" type="hidden" class="eventId" />
                        <input asp-for="Client.Id" type="hidden" class="clientId" />
                        <p><b> Event Date: </b> @($"{Model.Event.StartTime.ToLongDateString()}")</p>
                        <p><b> Event Time: </b> @($"{Model.Event.StartTime.ToShortTimeString()}") - @($"{Model.Event.EndTime.ToShortTimeString()}")</p>
                        @*<p><b> End Time: </b> </p>*@
                        @*<p><b> Type: </b> @($"{Model.Event.Type}")</p>
                        <p><b> Location: </b> @($"{Model.Event.Location}")</p>
                        <p><b> Number of Guests: </b> @($" {Model.Event.Guests}")</p>
                        <p><b> Event Includes: </b> @($"{Model.Includes}")</p>
                        <h4><b> Contact Information: </b></h4>
                        <p> @($"Contact Name {Model.Client.Name}")</p>
                        <p> @($"Contact Phone {Model.Client.Phone}")</p>
                        <p> @($"Contact Email {Model.Client.Email}")</p>
                        <p> Notes: </p>
                        <div class="note-wrapper">
                            <p> @($"{Model.Event.Notes}")</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

            
        @*<div class="small-outer-wrapper">
            <div class="small-tc">
                <div class="table-wrapper">
                    <!--table row headers-->
                    <table class="table table-bordered border-dark table-primary table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Availability</th>
                                <th>Phone</th>
                            </tr>
                        </thead>*@

                        @*<!--table body and population info-->
                        <tbody>
                            @if (Model.EmployeeList != null && Model.EmployeeList.Any())
                            {
                                foreach (var employee in Model.EmployeeList)
                                {
                                    int index = Model.EmployeeList.IndexOf(employee);
                                    <tr asp-for="SelectedEmployee" class="table-light selectable"
                                controller="Event" action="EmployeeSelection" data-id="@employee.Id" data-index="@index">

                                        <td>@employee.Id</td>
                                        <input type="hidden" asp-for="EmployeeList[index].Id" />
                                        <td>@employee.Name</td>
                                        <input type="hidden" asp-for="EmployeeList[index].Name" />
                                        <td>@employee.Role</td>
                                        <input type="hidden" asp-for="EmployeeList[index].Role" />
                                        <td>@employee.Availability</td>
                                        <input type="hidden" asp-for="EmployeeList[index].Availability" />
                                        <td>@employee.Phone</td>
                                        <input type="hidden" asp-for="EmployeeList[index].Phone" />

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>*@

       @* <form method="post" controller="ScheduleEmployees" action="AddSchedule">
            <div class="row pt-2 pb-2">
                <input asp-for="EmployeeSchedule.EmployeeId" id="selectedId" /> @*name="employeeId"*@ @*type="hidden"*@
                @* <div class="container" style="height:10vh;">*@
               @* <div class="col-3 form-group">
                    <label>Employee Name</label>
                    <input asp-for="EmployeeSchedule.EmployeeName" class="selectionResult" style="display:flex" readonly /> 
                </div>
                <div class="col-2 form-group">
                    <div class="input-append">
                        <label asp-for="EmployeeSchedule.StartTime" style="display:flex">Start Time</label>
                        <input asp-for="EmployeeSchedule.StartTime" type="time" />
                        <input asp-for="EmployeeSchedule.StartTime" type="hidden" id="start" />
                        <span class="add-on">
                            <i data-time-icon="icon-time"></i>
                        </span> 
                    </div>
                </div>
                <div class="col-2 form-group">
                    <div class="input-append">
                        <label asp-for="EmployeeSchedule.EndTime" style="display:flex">End Time</label>
                        <input asp-for="EmployeeSchedule.EndTime" type="time" /> 
                        <input asp-for="EmployeeSchedule.EndTime" type="hidden" /> 
                        <span class="add-on">
                            <i data-time-icon="icon-time"></i>
                        </span>
                    </div>
                </div>*@

              @*  <div class="col-5 form-group pt-3 text-end">
                <button class="btn btn-primary" type="submit" id="readyDocument" style="width:150px">
                    
                        Add To Schedule

                    </button> 
                </div>
            </div>
        </form>
*@
                
       @* <div class="small-outer-wrapper">
            <div class="small-tc">
                <div class="table-wrapper">
                    
                    <table class="table table-bordered border-dark table-hover table-primary table-sm">
                        <thead>
                            <tr>
                                
                                <th>Schedule Id</th>
                                <th>Employee Id</th>
                                <th>Employee Name</th>
                                <th>Start Time</th>
                                <th>End TIme</th>
                                <th></th>
                                
                            </tr>
                        </thead>
                        <!--table body and population info-->
                        <tbody>
                           
                            @if (Model.Schedules != null)
                            {
                                foreach (var schedule in Model.Schedules)
                                {
                                    int index = Model.Schedules.IndexOf(schedule);
                                    <tr id="row_@index" class="table-light"
                                controller="Event" action="Selection" data-id="@schedule.EmployeeId">
                                       
                                        <td>@schedule.ScheduleId</td>
                                        <input type="hidden" asp-for="Schedules[index].ScheduleId" />
                                        <td>@schedule.EmployeeId</td>
                                        <input type="hidden" asp-for="Schedules[index].EmployeeId" />
                                        <td>@schedule.EmployeeName</td>
                                        <input type="hidden" asp-for="Schedules[index].EmployeeName" />
                                        <td asp-format="time">@schedule.StartTime.ToShortTimeString()</td>
                                        <input type="hidden" asp-for="Schedules[index].StartTime" />
                                        <td asp-format="time">@schedule.EndTime.ToShortTimeString()</td>
                                        <input type="hidden" asp-for="Schedules[index].EndTime" />
                                        <td class="w-100 btn-group" role="group">
                                           
                                            <a class="btn btn-danger delete-unselectable" id="#deleteUnselectable" data-controller="Event" data-action="RemoveSchedule" data-id="@schedule.ScheduleId"
                                               data-index="@index" data-body-message="Are you sure you want to remove this schedule?">
                                                <i class="bi bi-trash"></i> Remove
                                            </a>
                                        </td>
                                       
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary" formaction="/Event/CheckOT" style="width:150px">Check Overtime</button> 
        </div>
    </div>
</div>
  *@

@*@section Scripts {
    <script type="text/javascript">
        function openErrorModal(strMessage) {
            var errorDiv = document.getElementById("errorModalBody");
            errorDiv.innerHTML = strMessage;
            $('#errorModal').modal('show');

        }
        $('#readyDocument').on('click', () => {
            $(document).ready(function () {
                var msg = "@TempData["Error"]";
                if (msg)
                    openErrorModal(msg);

            });
        });

    </script>
 }*@
