@model JSarad_C868_Capstone.ViewModels.EventScheduleViewModel


<div class="container" style="height:100vh">
    
   
    <div class="row">
       @* <div class="col-md-4">*@
        <div class="row pb-2">
            <h2 class="text-primary">Event Details & Scheduling</h2>
        </div>
       @* </div>*@
    </div>
    <br /><br />

    <div id="PlaceHolderHere"></div>
    @*<div class="outer-wrapper">*@
        <form method="post">
            <div class="row">
                <div class="col md-4">
                    <div class="outer-wrapper">
                        <div class="container p-2 style="height:55vh>
                            <div class="mb-3">
                                <h4> Event Details </h4>
                                <hr />
                                
                            <input asp-for="Event.Id" type="hidden" class="eventId" />
                            <input asp-for="Client.Id" type="hidden" class="clientId" />
                                <p><b> Event Date: </b> @($"{Model.Event.StartTime.ToLongDateString()}")</p>
                             
                            
                                <p><b> Event Time: </b> @($"{Model.Event.StartTime.ToShortTimeString()}") - @($"{Model.Event.EndTime.ToShortTimeString()}")</p>
                                @*<p><b> End Time: </b> </p>*@
                                <p><b> Type: </b> @($"{Model.Event.Type}")</p>
                                <p><b> Location: </b> @($"{Model.Event.Location}")</p>
                                <p><b> Number of Guests: </b> @($" {Model.Event.Guests}")</p>
                                <p><b> Event Includes: </b> @($"{Model.Includes}")</p>
                                <h4><b> Contact Information: </b></h4>
                                <p> @($"Contact Name {Model.Client.Name}")</p>
                                <p> @($"Contact Phone {Model.Client.Phone}")</p>
                                <p> @($"Contact Email {Model.Client.Email}")</p>
                                <p> Notes: </p>
                                <div class="note-wrapper">
                                    <p> @($"{Model.Event.Notes}")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 pt-4">
                    <div class="small-outer-wrapper">
                        <div class="small-tc">
                            <div class="table-wrapper">
                                <!--table row headers-->
                               @* <div class="container" style="height:30vh;">*@
                                <table class="table table-bordered border-dark table-primary table-hover table-sm">
                                    @* id="singleRowSelect" style="border-collapse:collapse; height:200px; table-layout:fixed;"*@
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Availability</th>
                                            <th>Phone</th>
                                        </tr>
                                    </thead>
                                    <!--table body and population info-->
                                    <tbody>

                                        @if (Model.EmployeeList != null && Model.EmployeeList.Any())
                                        {
                                            foreach (var employee in Model.EmployeeList)
                                            {
                                                int index = Model.EmployeeList.IndexOf(employee);
                                                <tr asp-for="SelectedEmployee" class="table-light selectable"
                                                    controller="Event" action="EmployeeSelection" data-id="@employee.Id" data-index="@index">

                                                    <td>@employee.Id</td>
                                                    <input type="hidden" asp-for="EmployeeList[index].Id" />
                                                    <td>@employee.Name</td>
                                                    <input type="hidden" asp-for="EmployeeList[index].Name" />
                                                    <td>@employee.Role</td>
                                                    <input type="hidden" asp-for="EmployeeList[index].Role" />
                                                    <td>@employee.Availability</td>
                                                    <input type="hidden" asp-for="EmployeeList[index].Availability" />
                                                    <td>@employee.Phone</td>
                                                    <input type="hidden" asp-for="EmployeeList[index].Phone" />
                                           
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                               @* </div>*@
                            </div>
                        </div>
                    </div>
           
         
                    <div class="row pt-2 pb-2">
                    <input asp-for="EmployeeSchedule.EmployeeId" id="selectedId" /> @*name="employeeId"*@ @*type="hidden"*@
                        @* <div class="container" style="height:10vh;">*@
                        <div class="col-3 form-group">
                            <label>Employee Name</label>
                            <input asp-for="EmployeeSchedule.EmployeeName" class="selectionResult" style="display:flex" readonly /> @*name="employeeName"*@
                            @* form-control*@
                         </div>
                        <div class="col-2 form-group">
                            <div class="input-append">
                            <label asp-for="EmployeeSchedule.StartTime" style="display:flex">Start Time</label>
                                <input asp-for="EmployeeSchedule.StartTime" type="time" /> @*name="start"*@
                                @*<input asp-for="EmployeeSchedule.StartTime" type="hidden" id="start" />*@ @*name="start"*@
                                <span class="add-on">
                                <i data-time-icon="icon-time"></i>
                                </span> @*style="display:flex"*@
                            </div>
                        </div>
                        <div class="col-2 form-group">
                            <div class="input-append">
                                <label asp-for="EmployeeSchedule.EndTime" style="display:flex">End Time</label>
                                <input asp-for="EmployeeSchedule.EndTime" type="time" /> @*id="end"*@ @*name="end"*@
                                @*<input asp-for="EmployeeSchedule.EndTime" type="hidden" />*@ @*name="end"*@
                                <span class="add-on">
                                    <i data-time-icon="icon-time"></i>
                                </span>
                            </div>
                        </div>
                   
                        <div class="col-5 form-group pt-3 text-end">
                                
                            <button class="btn btn-primary" formaction="/Event/ScheduleEmployee/" style="width:150px">Add To Schedule</button> @*id="addSchedule" data-controller="Event" data-action="ScheduleEmployee"*@ 
                           
                        </div>
                    </div>
           
           
                    <div class="small-outer-wrapper">
                        <div class="small-tc">
                            <div class="table-wrapper">
                                @*<div class="row mb-3">*@
                                    @*<div class="container" style="height:30vh">*@
                                <table class="table table-bordered border-dark table-hover table-primary table-sm">
                                    <thead >
                                        <tr >
                                                    @* style="display:table; width:100%; box-sizing:border-box;" class="table-primary"*@
                                        <th>Schedule Id</th>
                                            <th>Employee Id</th>
                                            <th>Employee Name</th>
                                            <th>Start Time</th>
                                            <th>End TIme</th>
                                            <th></th>
                                                    @* style="width:25%; word-break: break-all; padding: 5px;"*@
                                        </tr>
                                    </thead>
                                    <!--table body and population info-->
                                    <tbody >
                                        @*style="display:block; height:200px; overflow-y:scroll; border: 1px solid black;"*@
                                        @if (Model.Schedules != null)
                                        {
                                            foreach (var schedule in Model.Schedules)
                                            {
                                                int index = Model.Schedules.IndexOf(schedule);
                                                <tr id="row_@index" class="table-light"
                                        controller="Event" action="Selection" data-id="@schedule.EmployeeId">
                                               @* data-index="@index"*@
                                                   @* selectable*@
                                                    @* style="display:table; width:100%; box-sizing:border-box"*@
                                                    @*<td> @schedule.ScheduleId</td>*@
                                                <td>@schedule.ScheduleId</td>
                                                    <input type="hidden" asp-for="Schedules[index].ScheduleId" />
                                                    <td >@schedule.EmployeeId</td>
                                                    <input type="hidden" asp-for="Schedules[index].EmployeeId" />
                                                    <td >@schedule.EmployeeName</td>
                                                    <input type="hidden" asp-for="Schedules[index].EmployeeName" />
                                                    <td asp-format="time">@schedule.StartTime.ToShortTimeString()</td>
                                                    <input type="hidden" asp-for="Schedules[index].StartTime"  />
                                                    <td  asp-format="time">@schedule.EndTime.ToShortTimeString()</td>
                                                    <input type="hidden" asp-for="Schedules[index].EndTime"  />
                                                    <td class="w-100 btn-group" role="group">
                                                        @*<a asp-controller="Client" asp-action="Edit" asp-route-id="@schedule.EmployeeId" style="text-decoration:none"> 
                                                            <i class="bi bi-pencil-square"></i> &emsp; Edit &emsp;</a>  @*class="btn btn-primary mx-2"*@
                                                        @*<a asp-controller="Event" asp-action="RemoveSchedule" asp-route-id="@schedule.EmployeeId" style="text-decoration:none">
                                                            <i class="bi bi-trash"></i> Remove</a>*@ @*class="btn btn-danger mx-2"*@
                                                    <a class="btn btn-danger delete-unselectable" id="#deleteUnselectable" data-controller="Event" data-Action="RemoveSchedule" data-id="@schedule.ScheduleId"
                                                        data-index="@index" data-body-message="Are you sure you want to remove this schedule?">
                                                        <i class="bi bi-trash"></i> Remove
                                                    </a>
                                                    </td>
                                                   @* style="border-collapse:collapse; border:none; width:33.33%; word-break: break-all; padding: 5px; border-bottom: none; display:none"*@
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <button class="btn btn-primary" formaction="/Event/CheckOT/"  style="width:150px">Check Overtime</button> @*formaction="/AddSchedule"*@
                    </div>
                        
                        @*<div class="buttons">
                            *@
                             <!--navigating back to Event page-->
                   
                            @*<a asp-controller="Event" asp-action="Index" class="btn btn-secondary" style="width:150px">
                                Back To List
                            </a>*@
                          @*</div>*@
           
                       @* </div>*@
                </div>
            </div>
        </form>
</div>
@section Scripts {
    <script type="text/javascript">
        function openErrorModal(strMessage) {
            var errorDiv = document.getElementById("errorModalBody");
            errorDiv.innerHTML = strMessage;
            $('#errorModal').modal('show');

        }

        //function openApprovalModal(strMessage) {
        //    var approvalDiv = document.getElementById("approvalModalBody");
        //    approvalDiv.innerHTML = strMessage;
        //    $('#approvalModal').modal('show');

        //}

        $(document).ready(function () {
            var msg = "@TempData["Error"]";
            if (msg)
                openErrorModal(msg);
           
        });

    </script>
 }
 