@model IEnumerable<EventListDetails>
@*@{
    ViewData["Title"] = "Index";
}*@

<!--placeholder for _ModifyEventModalPartial-->
<div id="PlaceHolderHere"></div>


<div class="container p3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Event Information</h2>
        </div>
        <div class="col-6 text-end">
            <!--button to _ModifyEventModalPartial "Add" (js.ModifyObject)-->
            <button type="button" class="btn btn-primary" data-bs-toggle="ajax-modal" data-target="#modifyEvent"
                    data-controller="Event" data-action="Modify" data-modify-type="Add">
                    Add Event
            </button>
        </div>
    </div>
    <br /><br />

    <!--search bar (Controllers/Event/Index(string search)-->
    <form method="get" asp-action="Index">
        <p>
            <input type="search" placeholder="Search Event By Type" value="@ViewData["GetEvent"]" name="search" style="width:500px;" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index">Get All Events</a>
        </p>
    </form>
    <!--table row headers-->
    <div class="outer-wrapper">
        <div class="tc">
            <div class="table-wrapper">
                <table class="table table-bordered border-dark table-primary table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Event Id</th>
                            <th>Event Name</th>
                            <th>Event Type</th>
                            <th>Event Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Contact Name</th>
                            <th>Contact Phone</th>
                        </tr>
                    </thead>
                    <!--table body and population info for Event (Controllers/Event/Index)-->
                    <tbody>
                       
                        @*track index of IEnumerable*@
                        @{int index = -1;
                            @foreach (var item in Model)
                            { 
                                index++;
                                <tr id="row_@item.EventId" class="table-light selectable" controller="Event" Action="Selection" 
                                    data-id="@item.EventId" data-index="@index">
                                    <td>@item.EventId</td>
                                    <td>@item.EventName</td>
                                    <td>@item.Type </td>
                                    <td>@item.EventDate.ToShortDateString()</td>
                                    <td>@item.StartTime.ToShortTimeString()</td>
                                    <td>@item.EndTime.ToShortTimeString()</td>
                                    <td>@item.ContactName</td>
                                    <td>@item.Phone</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @*hidden input field for selected employee (js call back)*@
        <input id="selectedId" class="form-control" />
        <div class="buttons">
                <!--button call to modify modal "Edit" (js.ModifyObject) -->
                <button class="btn btn-primary" data-bs-toggle="ajax-modal" data-target="#modifyEvent"
                        data-controller="Event" data-action="Modify" data-modify-type="Edit">
                        Edit
                </button>
                 
                <!--button call to delete modal (js.delete.js)-->
                <a class="btn btn-danger delete" id="#delete"
                   data-controller="Event" data-Action="DeletePOST"
                   data-body-message="Are you sure you want to delete this event?">
                    <i class="bi bi-trash"></i> Delete
                </a>

                <!--button call to Add Event employee Schedule Controllers/Event/AddSchedule-->
                <a class="btn btn-primary" id="details"
                   data-controller="Event" data-action="AddSchedule">
                    <i class="bi bi-trash"></i> Details & Scheduling
                </a>
        </div>
    </div>
</div>
@*@section scripts{
    <partial name="_ValidationScriptsPartial" />
}*@

@*@section Scripts {
    <script type="text/javascript">
        function openErrorModal(strMessage) {
            var errorDiv = document.getElementById("errorModalBody");
            erroDiv.InnerHTML = strMessage;
            $('#errorModal').modal('show');

        }
        $(document.).ready(function () {
            var msg = "@ViewData["Error"]";
            if (msg) 
                openErrorModal(msg);
        }
    </script>*@
}