@model JSarad_C868_Capstone.ViewModels.ClientListViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container p3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Client Information</h2>
        </div>
        <!--class text-end will move the button all the way to the right of the page-->
        <div class="col-6 text-end">
            <!--add button-->
            <a asp-controller="Client" asp-action="Add" class="btn btn-primary">
                @*
                selected plus icon from bootstrap icons copied and pasted
                Note that the icon style was first added to _layout, &nbsp is a space
                *@
                <i class="bi bi-plus-circle"></i> &nbsp; Add Client
            </a>
        </div>
    </div>
    <br /><br />
    
    <!--table row headers-->
    <div class="outer-wrapper">
        <div class="tc">
            <div class="table-wrapper">
                <table class="table table-bordered border-dark table-light table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <!--table body and population info-->
                    <tbody>
                        @if (Model.ClientList != null)
                        {
                            int index = -1;
                            @foreach (var client in Model.ClientList)
                            {
                                index++;
                                <tr class="table-light selectable" controller="Client" Action="Selection" data-id="@client.Id" data-index="@index">
                                    <td >@client.Name</td>
                                    <td >@client.Phone</td>
                                    <td >@client.Email</td>
                                    <td >@client.Address</td>

                                   
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="buttons">
        <!--modify buttons (w-100 splits cell, change to 75 when icons are added)-->
            <div class="w-75 btn-group" role="group">
                <input asp-for="SelectedId" class="form-control selectedId" />
                <!--go back to bootstrap icons and copy and paste pencil square icon-->

                <a class="btn btn-primary mx-2" asp-controller="Client" asp-action="Edit" asp-route-id="@Model.SelectedId">
                    <i class="bi bi-pencil-square"></i> Edit
                </a>

                <!--button call to delete modal (js.delete.js)-->
                <a class="btn btn-danger delete" id="#delete" data-id="@Model.SelectedId"
                   data-controller="Client" data-Action="DeletePOST"
                   data-body-message="Are you sure you want to delete this client?">
                    <i class="bi bi-trash"></i> Delete
                </a>
            </div>
         </div>
    </div>
</div>
        






                        
                    
    