@model JSarad_C868_Capstone.ViewModels.EmployeeScheduleViewModel

<div class="container p3" style="height:83vh">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Employee Details & Schedule</h2>
        </div>
        <div class="col-6 text-end" style="margin-top:20px">
            <!--button to return to Events page -->
            <a class="btn btn-primary text-end" asp-controller="Employee" asp-action="Index" style="width:auto">Return to Employees</a>
        </div>
    </div>
    <br />

    <div class="row">
        <!--Employee Details side panel-->
        <div class="col md-4" style="padding-top:1.7%;">
            <div class="outer-wrapper" style="min-height:400px;">
                <div class="details-container">
                    <h4 style="margin-top:10px;"><b>@Html.Raw(Model.Employee.Name)</b> </h4>
                    <hr />
                    <div class="mb-3">
                        <p> <b>Employee Id: </b> @($" {Model.Employee.Id}" )</p>
                    
                        <p> <b>Employee Role: </b>@($" {Model.Employee.Role}")</p>
                        <p> <b>Available Days to Work: </b>@($" {Model.Employee.Availability}")</p>
                    
                        <p> <b>Contact Information</b></p>
                        <p> <b>Phone: </b>@($" {Model.Employee.Phone}")</p>
                        <p> <b>Email Address: </b>@($" {Model.Employee.Email}")</p>
                        <p> <b>Home Address:</b>@($" {Model.Employee.Address}")</p>
                    </div>
                </div>
            </div>
        </div>
                   
        <!--Employee Schedule Dates-->           
        <div class="col-md-8 pt-4">
            <div class="outer-wrapper">
                <div class="tc">
                    <div class="table-wrapper">
                        <!--table row headers-->
                        <table class="table table-bordered border-dark table-primary table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                </tr>
                            </thead>
                            <!--table body and population info-->
                            <tbody>

                                @if (Model.Schedule != null && Model.Schedule.Any())
                                {
                                    foreach (var schedule in Model.Schedule)
                                    {
                                        int index = Model.Schedule.IndexOf(schedule);
                                        <tr asp-for="SelectedEmployee" class="table-light selectable"
                                    controller="Event" action="EmployeeSelection" data-id="@schedule.Id" data-index="@index">

                                            <td>@schedule.EmployeeId</td>
                                           @* <input type="hidden" asp-for="EmployeeList[index].Id" />*@
                                            <td>@schedule.StartTime.ToLongDateString()</td>
                                           @* <input type="hidden" asp-for="EmployeeList[index].Name" />*@
                                            <td>@schedule.StartTime.ToShortTimeString()</td>
                                           @* <input type="hidden" asp-for="EmployeeList[index].Role" />*@
                                            <td>@schedule.EndTime.ToShortTimeString()</td>
                                           @* <input type="hidden" asp-for="EmployeeList[index].Availability" />*@
                                            <td></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
           
                
               
            
            
               
                

