@model JSarad_C868_Capstone.ViewModels.EmployeeScheduleViewModel

<div class="container" style="height:100vh">
    <!--page header-->
    <div class="row">
        <div class="row pb-2">
            <h2 class="text-primary">Employee Details & Schedule</h2>
            <hr />
        </div>
    </div>
    <br /><br />
    <div class="row">
        <!--Employee Details side panel-->
        <div class="col md-4">
            <div class="border border-dark p-2 mt-4">
                <div class="mb-3">
                    <p> <b>Employee Id : </b> @($"{Model.Employee.Id}" )</p>
                    <p> @($"Employee Name: {Model.Employee.Name} {Model.Employee.Role}")</p>
                    <p> @($"Available Days to Work: {Model.Employee.Availability}")</p>
                    <p> @($"Number of Guests {Model.Employee.Id}")</p>
                    <p> <b>Contact Information :</b></p>
                    <p> @($"Phone Number: {Model.Employee.Phone}")</p>
                    <p> @($"Email Address: {Model.Employee.Email}")</p>
                    <p> @($"Home Address: {Model.Employee.Address}")</p>
                </div>
            </div>
        </div>
                   
        <!--Employee Scheule Dates-->           
        <div class="col-md-8 pt-4">
            <div class="outer-wrapper">
                <div class="tc">
                    <div class="table-wrapper">
                        <!--table row headers-->
                        <table class="table table-bordered border-dark table-primary table-hover table-sm">
                            @* id="singleRowSelect" style="border-collapse:collapse; height:200px; table-layout:fixed;"*@
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Hours</th>
                                </tr>
                            </thead>
                            <!--table body and population info-->
                            <tbody>

                                @if (Model.Schedule != null && Model.Schedule.Any())
                                {
                                    foreach (var schedule in Model.Schedule)
                                    {
                                        int index = Model.Schedule.IndexOf(schedule);
                                        <tr asp-for="SelectedEmployee" class="table-light selectable"
                                    controller="Event" action="EmployeeSelection" data-id="@schedule.Id" data-index="@index">

                                            <td>@schedule.EmployeeId</td>
                                           @* <input type="hidden" asp-for="EmployeeList[index].Id" />*@
                                            <td>@schedule.StartTime.ToLongDateString</td>
                                           @* <input type="hidden" asp-for="EmployeeList[index].Name" />*@
                                            <td>@schedule.StartTime.ToShortTimeString</td>
                                           @* <input type="hidden" asp-for="EmployeeList[index].Role" />*@
                                            <td>@schedule.EndTime.ToShortTimeString</td>
                                           @* <input type="hidden" asp-for="EmployeeList[index].Availability" />*@
                                            <td></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        @* </div>*@
                    </div>
                </div>
            </div>
            <!--navigating back to Event page-->
            <div class="buttons">
                <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    Back To List
                </a>
                <a  class="btn btn-secondary" style="width:150px">
                    Print Schedule
                </a>
            </div>
        </div>
    </div>
</div>
           
                
               
            
            
               
                

