@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<div class="container p3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Employee Information</h2>
        </div>
        <div class="col-6 text-end">
            <!--add button-->
            <a asp-controller="Employee" asp-action="Add" class="btn btn-primary">
                @*
                selected plus icon from bootstrap icons copied and pasted
                Note that the icon style was first added to _layout, &nbsp is a space
                *@
                <i class="bi bi-plus-circle"></i> &nbsp; Add Employee
            </a>
        </div>
    </div>
    <br /><br />

    <!--table row headers-->
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Position</th>
                <th>Availability</th>
            </tr>
        </thead>
        <!--table body and population info-->
        <tbody>
            @foreach (var employee in Model)
            {
                <tr id="row_@employee.Id">
                    <td>@employee.Name</td>
                    <td>@employee.Phone</td>
                    <td>@employee.Email</td>
                    <td>@employee.Address</td>
                    <td>@employee.Role</td>
                    <td>@employee.Availability</td>
                    
                    <!--modify buttons (w-100 splits cell, change to 75 when icons are added)-->
                    <td class="w-100 btn-group" role="group">
                        <!--go back to bootstrap icons and copy and paste pencil square icon-->

                        <a class="btn btn-primary mx-2" asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id"> 
                           <i class="bi bi-pencil-square"></i> Edit</a>
                        
                        <!--button call to delete modal (js.delete.js)-->
                        <a class="btn btn-danger delete" id="#delete" data-id="@employee.Id"
                           data-controller="Employee" data-Action="DeletePOST"
                           data-body-message= "Are you sure you want to delete this employee?">
                           <i class="bi bi-trash"></i> Delete</a>
                      </td>
                </tr>
            }
        </tbody>
    </table>
</div>
        
                    
                       




                       
