@*@model JSarad_C868_Capstone.ViewModels.EmployeeListViewModel*@
@model IEnumerable<Employee>
@*@{
    ViewData["Title"] = "Index";
}*@
<div id="PlaceHolderHere"></div>
<div class="container p3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Employee Information</h2>
        </div>
        <div class="col-6 text-end">
            <!--add button-->
            @*<a asp-controller="Employee" asp-action="Add" class="btn btn-primary">
                @*
                selected plus icon from bootstrap icons copied and pasted
                Note that the icon style was first added to _layout, &nbsp is a space
               
                <i class="bi bi-plus-circle"></i> &nbsp; Add Employee
            </a>*@

            <!--button to add Employee modal -->
            
            <button type="button" class="btn btn-primary" data-bs-toggle="ajax-modal" data-target="#addEmployee" 
                     data-controller="Employee" data-action="Modify" data-modify-type="Add">Add Employee</button>
            @*data-url="@Url.Action("Add")"*@
            </div>
       @* <div class="modal fade" id="LoginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <partial name="_LoginModalPartial"
        </div>*@
    </div>
    <br /><br />
    
    <!--table row headers-->
    <div class="outer-wrapper">
        <div class="tc">
            <div class="table-wrapper">
                <table class="table table-bordered border-dark table-light table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th> Id </th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Position</th>
                            <th>Availability</th>
                        </tr>
                    </thead>
                    <!--table body and population info-->
                    <tbody>
                        @*@if (Employee != null)
                        {*@
                            @{int index = -1;
                            @foreach (var employee in Model)
                            {
                                index++;
                                <tr id="row_@employee.Id" class="table-light selectable" controller="Employee" Action="Selection" data-id="@employee.Id" data-index="@index">
                                   @* id="row_@employee.Id"*@
                                    @*<input type="hidden" asp-for="@employee.Id">*@
                                    <td>@employee.Id</td>
                                    @*<input type="hidden" asp-for="@employee.Name">*@
                                    <td>@employee.Name</td>
                                    @*<input type="hidden" asp-for="@employee.Phone">*@
                                    <td>@employee.Phone</td>
                                    @*<input type="hidden" asp-for="@employee.Email">*@
                                    <td>@employee.Email</td>
                                    @*<input type="hidden" asp-for="@employee.Address">*@
                                    <td>@employee.Address</td>
                                    @*<input type="hidden" asp-for="@employee.Role">*@
                                    <td>@employee.Role</td>
                                    @*<input type="hidden" asp-for="@employee.Availability">*@
                                    <td>@employee.Availability</td>

                                    <!--modify buttons (w-100 splits cell, change to 75 when icons are added)-->

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--<form>-->
            <input id="selectedId" class="form-control" />
            <div class="buttons">
                <div class="w-100 btn-group" >
                    <button class="btn btn-primary" data-bs-toggle="ajax-modal" data-target="#addEmployee"
                    data-controller="Employee" data-action="Modify" data-modify-type="Edit">Edit</button>
                    @*<a class="btn btn-primary mx-2  edit" id="#edit"
                       data-controller="Employee" data-action="Edit">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>*@
                   @* form-control*@
                    <!--button call to delete modal (js.delete.js)-->
                    <a class="btn btn-danger delete" id="#delete" 
                        data-controller="Employee" data-Action="DeletePOST"
                        data-body-message="Are you sure you want to delete this employee?">
                        <i class="bi bi-trash"></i> Delete
                        @*data-id="@Model.SelectedId"*@
                    </a>
                </div>
            </div>
        <!--</form>-->
    </div>
</div>








